@{
    int rootid = Convert.ToInt32(ViewContext.RouteData.Values["rootid"]);

    string ControllerName = ViewContext.ParentActionViewContext.RouteData.Values["controller"].ToString();
}

<div class="innerbanner"><div><img src="@ViewBag.banner" /></div></div>
<div class="nav">
    <h1>@Model.ClassName</h1>
    <ul>
        @foreach (var item in ViewBag.List as IList<NewsClassModel>)
        {
            <li @Html.Raw(item.ClassID == Model.ClassID ? "class=\"current\"" : "")>
                <a href="@item.LinkUrl.getUrl(rootid,item.ClassID,item.ItemType,ControllerName)">@item.ClassName</a>
            </li>
        }
    </ul>
</div>