@model HomeModel
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>中国中医药研究促进会慢性病专项基金管理委员会-首页</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <base target="_blank" />
    @Styles.Render("~/Content/style")
    @Scripts.Render("~/bundles/home")
<script type="text/javascript">
    $(function () {
        $("div.banner_num ul li:first").addClass("on");

        //爱心大使、爱心捐赠
        $(".tabbody .carousel").jCarouselLite({
            visible: 3,
            speed: 1000,
            auto: 1000
        });

        $("div.love h1 a:first").addClass("current");
        $("div.tabbody div.carousel").not(":first").hide();
        $("div.love h1 a").hover(function () {
            $(this).addClass("current").siblings().removeClass("current");
            var index = $("div.love h1 a").index(this);
            $("div.tabbody>div.carousel").eq(index).show().siblings().hide();
        });

        //公益项目
        $("div.tab h1 a:first").addClass("current");
        $("div.projecttab>ul").not(":first").hide();
        $("div.tab h1 a").hover(function () {
            $(this).addClass("current").siblings().removeClass("current");
            var index = $("div.tab h1 a").index(this);
            $("div.projecttab>ul").eq(index).show().siblings().hide();
        });

        //友情链接
        $("div.link div.floatleft a:first").addClass("current");
        $("div.linkbody>ul").not(":first").hide();
        $("div.link div.floatleft a").click(function () {
            $(this).addClass("current").siblings().removeClass("current");
            var index = $("div.link div.floatleft a").index(this);
            $("div.linkbody>ul").eq(index).show().siblings().hide();
        });

        $("ul.projectlist li:nth-child(3n)").css("margin", "0");
        $("div.linkbody ul li:nth-child(5n)").css("margin", "0");

        $(".indexblock div").first().addClass("blockleft");
        $(".indexblock>div:nth-child(2n)").addClass("blockright");

        $("div.donation ul li div").live("mouseenter", function () {
            $(this).find("h2").fadeIn(200);
        });
        $("div.donation ul li div").live("mouseleave", function () {
            $(this).find("h2").fadeOut(300);
        });


        // 获取图片真实高度
        function getImageWidth(url, callback) {
            var img = new Image();
            img.src = url;
            // 如果图片被缓存，则直接返回缓存数据
            if (img.complete) {
                callback(img.width, img.height);
            } else {
                img.onload = function () {
                    callback(img.width, img.height);
                }
            }
        }

        $(".carousel img").each(function (i, obj) {
            var src = $(obj).attr("src");
            getImageWidth(src, function (w, h) {
                if (w / h > 182 / 255) {
                    $(obj).attr("width", 150);
                }
                else if (w / h < 182 / 255) {
                    $(obj).attr("height", 179);
                }
                else {
                    $(obj).height = 179;
                    $(obj).width = 150;
                }
            })
        })
    });
</script>
</head>

<body>
    @Html.Partial("Top")
    <div class="banner">
        <div class="banner_two">
            <div id="banner">
                @{ var banner = Model.PhotoClass.First(m => m.ClassID == 1).PhotoList.Where(m => m.ClassID == 1);}
                <div class="banner_num">
                    <ul>
                        @for (int i = 1; i <= banner.Count(); i++)
                        {
                            <li>@i</li>
                        }
                    </ul>
                </div>
                <div id="banner_list">
                    @foreach (var item in banner)
                    {
                        <a href="javascript:void(0)" target="_blank"><img src="@item.PhotoImg" alt="@item.PhotoName" /></a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="indexblock clearfix">
        @foreach (var item in Model.NewsClass.Take(2))
        {
        <div>
            <div class="subtitle"><h1>@item.ClassName</h1><a href="/News/@item.ClassID" class="floatright">更多></a></div>
            @foreach (var pic in item.NewsList.Where(m => !string.IsNullOrWhiteSpace(m.NewsImg)).Take(1))
            {
                <dl class="imgnews clearfix">
                    <dt><a href="@pic.LinkUrl.getUrl(pic.NewsID)"><img src="@pic.NewsImg" /></a></dt>
                    <dd>
                        <h2><a href="@pic.LinkUrl.getUrl(pic.NewsID)" style="color:@pic.TitleColor" title="@pic.Title">@pic.Title.breakString(30)</a></h2>
                        <div>@pic.Content</div>
                    </dd>
                </dl>
            }

            <ul class="subnews">
                @foreach (var news in item.NewsList)
                {
                    <li><i></i><span>@news.AddTime.ToString("yyyy-MM-dd")</span><a href="@news.LinkUrl.getUrl(news.NewsID)" style="color:@news.TitleColor">@news.Title</a></li>
                }
            </ul>
        </div>
        }
    </div>
    <div class="smallbanner"><img src="@((Model.AllClass as IEnumerable<NewsClassModel>).First(m => m.ClassID == 1).ItemImg)" /></div>
    <div class="line"></div>
    <div class="indexblock clearfix">
        <div class="blockleft">
            <div class="subtitle love"><h1>
                @{ System.Text.StringBuilder sb = new System.Text.StringBuilder();}
                    @foreach (var item in Model.PhotoClass.Where(m => m.ClassID == 10 || m.ClassID == 11))
                    {
                        sb.AppendFormat("<a href=\"javascript:void(0)\">{0}</a><i>|</i>", item.ClassName);
                    }
                @Html.Raw(sb.ToString().Substring(0, sb.Length - 8))
            </h1><a href="#" class="floatright">更多></a></div>
            <div class="tabbody lovebody">
                @foreach (var item in Model.PhotoClass.Where(m => m.ClassID == 10 || m.ClassID == 11))
                {
                    <div class="carousel donation">
                        <ul>
                            @foreach (var photo in item.PhotoList)
                            {
                            <li>                                
                                <div>
                                    <div><a href="javascript:;"><img src="@photo.PhotoImg" alt="@photo.PhotoName" title="@photo.PhotoName" /></a></div>
                                    <h2>
                                        <a class="floatleft" href="@Url.Content(photo.PhotoImg)" data-title="@photo.PhotoName" data-lightbox="example-1">查看大图</a><a href="#" class="floatright">作品简介</a>
                                    </h2>
                                </div>
                                <h6><a href="#">@photo.PhotoName</a></h6>
                            </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
        <div class="blockright">
            <div class="subtitle"><h1>公益项目</h1><a href="#" class="floatright">更多></a></div>
            <ul class="projectlist">
                @foreach (var item in Model.AllClass.Where(m => m.ParentID == 37))
                {
                    <li>
                        <div><a href="#"><img src="@item.ItemImg" /></a></div>
                        <h6><a href="#">@item.ClassName.breakString(22)</a></h6>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="line"></div>
    <div class="indexblock clearfix">
        <div class="blockleft">
            <div class="subtitle"><h1>项目动态</h1><a href="#" class="floatright">更多></a></div>
            @foreach (var pic in Model.NewsClass.Last().NewsList.Where(m => !string.IsNullOrWhiteSpace(m.NewsImg)))
            {
                <dl class="imgnews clearfix">
                    <dt><a href="@pic.LinkUrl.getUrl(pic.NewsID)"><img src="@pic.NewsImg" /></a></dt>
                    <dd>
                        <h2><a href="@pic.LinkUrl.getUrl(pic.NewsID)" style="color:@pic.TitleColor" title="@pic.Title">@pic.Title.breakString(30)</a></h2>
                        <div>@pic.Content</div>
                    </dd>
                </dl>
            }
            
        <ul class="subnews block1">
            @foreach (var news in Model.NewsClass.Last().NewsList)
            {
                <li><i></i><span>@news.AddTime.ToString("yyyy-MM-dd")</span><a href="@news.LinkUrl.getUrl(news.NewsID)" style="color:@news.TitleColor">@news.Title</a></li>
            }
        </ul>
        </div>
        <div class="blockright">
            <div class="subtitle tab"><h1><a href="#">图片库</a></h1><a href="#" class="floatright">更多></a></div>
            <div class="tabbody projecttab">
                <ul class="projectlist clearfix">
                    @foreach (var pic in Model.PhotoClass.First(m => m.ClassID == 37).PhotoList)
                    {
                        <li>
                            <div><a href="#"><img src="@pic.PhotoImg" /></a></div>
                            <h6><a href="#">@pic.PhotoName.breakString(22)</a></h6>
                        </li>
                    }
                </ul>                
            </div>
        </div>
    </div>
    <div class="link">
        <div class="floatleft">
            @foreach (var item in Model.AllClass.Where(m => m.ParentID == 1))
            {
                <a href="javascript:void(0)">@item.ClassName</a>
            }
        </div>
        <div class="floatright"><a href="#">更多</a></div>
    </div>
    <div class="linkbody">
        @{var idList = new int[] {27, 28, 29 }; }
        @foreach (var item in Model.PhotoClass.Where(m => idList.Contains(m.ClassID)))
        {
        <ul class="clearfix">
            @foreach (var pic in item.PhotoList)
            {
                <li><a href="#"><img src="@pic.PhotoImg" title="@pic.PhotoName" /></a></li>
            }
        </ul>
        }
    </div>
    @Html.Partial("Foot")
</body>
</html>
