@model PagedList.StaticPagedList<NewsModel>
@using PagedList
@using PagedList.Mvc
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>中国中医药研究促进会慢性病专项基金管理委员会-首页</title>
    @Styles.Render("~/Content/style")
    @Scripts.Render("~/bundles/home")
    <script type="text/javascript">
        $(function () {
            $("div.nav ul li:last").css("border", "none");
            $("ul.projectlist li:nth-child(2n)").css("margin", "0");
        });
    </script>
</head>

<body>
    @Html.Partial("Top")
    <div class="innerbanner"><div><img src="@ViewBag.banner" /></div></div>
    <div class="nav">
        <h1>@ViewBag.ItemName</h1>
    </div>

    <div class="pagebody clearfix">
        <div class="left">
            <ul class="subnav clearfix">
                <li><a href="@Url.Action("View",new { id = ViewContext.RouteData.Values["id"] })">项目介绍</a></li>
                <li class="current"><a href="@Url.Action("News",new { id = ViewContext.RouteData.Values["id"] })">项目动态</a></li>
                <li><a href="@Url.Action("Photo",new { id = ViewContext.RouteData.Values["id"] })">项目图片</a></li>
            </ul>
            <ul class="newslist">
                @foreach (var item in Model)
                {
                    <li><i></i><span>@item.AddTime.ToString("yyyy-MM-dd")</span><a href="@item.LinkUrl.getUrl(item.NewsID)" style="color:@item.TitleColor">@item.Title</a></li>
                }
            </ul>

            @Html.PagedListPager(Model, m => Url.Action("Index", new { PageIndex = m }))
        </div>
        @Html.Action("Index", "Common")
    </div>
    @Html.Partial("Foot")
</body>
</html>
